<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container bg-light border mt-4 p-1">
    <a href="/form" class="btn btn-primary">+ Create</a>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Mobile</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% if(user != 'undefined' || user !== '') { %>
          <% user.forEach(user => { %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.city %></td>
                  <td><%= user.mobile %></td>
                  <td><a href="/form/<%= user._id %>" class="btn btn-primary btn-sm">Edit</a></td>
                  <td><a href="/<%= user._id %>" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>